.text-center{
    text-align: center;
}
.bg-col{
    background-color:rgb(40, 155, 40);
}
.flex{
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    justify-content: center;
    align-items: center;
}
.but-col{
    color:rgb(40, 155, 40);
}